<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiye.livedata.monitor.dao.BiliLivePartitionDao">

    <resultMap type="com.weiye.livedata.monitor.entity.BiliLivePartition" id="BiliLivePartitionResult">
        <result property="typeid"    column="typeID"    />
        <result property="name"    column="name"    />
        <result property="grade"    column="grade"    />
        <result property="picture"    column="picture"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBiliLivePartitionVo">
        select typeID, name, grade, picture, status from bili_live_partition
    </sql>

    <select id="selectBiliLivePartitionList" parameterType="com.weiye.livedata.monitor.entity.BiliLivePartition" resultMap="BiliLivePartitionResult">
        <include refid="selectBiliLivePartitionVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="picture != null  and picture != ''"> and picture = #{picture}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectBiliLivePartitionByTypeid" parameterType="String" resultMap="BiliLivePartitionResult">
        <include refid="selectBiliLivePartitionVo"/>
        where typeID = #{typeid}
    </select>

    <select id="selectBiliLivePartitionAllList" resultMap="BiliLivePartitionResult">
        <include refid="selectBiliLivePartitionVo"/>
    </select>

    <insert id="insertBiliLivePartition" parameterType="com.weiye.livedata.monitor.entity.BiliLivePartition">
        insert into bili_live_partition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeid != null">typeID,</if>
            <if test="name != null">name,</if>
            <if test="grade != null">grade,</if>
            <if test="picture != null">picture,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeid != null">#{typeid},</if>
            <if test="name != null">#{name},</if>
            <if test="grade != null">#{grade},</if>
            <if test="picture != null">#{picture},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateBiliLivePartition" parameterType="com.weiye.livedata.monitor.entity.BiliLivePartition">
        update bili_live_partition
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where typeID = #{typeid}
    </update>

    <delete id="deleteBiliLivePartitionByTypeid" parameterType="String">
        delete from bili_live_partition where typeID = #{typeid}
    </delete>

    <delete id="deleteBiliLivePartitionByTypeids" parameterType="String">
        delete from bili_live_partition where typeID in
        <foreach item="typeid" collection="array" open="(" separator="," close=")">
            #{typeid}
        </foreach>
    </delete>
</mapper>